DB_URI=

JWT_TOKEN_KEY=
TOKEN_EXPIRATION_TIME=

MAIL_USER=
MAIL_PASS=
MAIL_PORT=
MAIL_SERVICE=
SENDER_EMAIL=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_ID=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_BUCKET=

HOST=

FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_CERT_URI=
FIREBASE_CLIENT_URL=

REDIS_URL=
REDIS_PORT=
REDIS_DB=